		<% provide(:title, 'About us') %>
    <h1>About us</h1>
		
    <p> 
      This is the facebook page for 
      <a href="https://www.facebook.com/OrganicKahang">Kahang Organic</a>
      Sample Page
    </p>


