<% provide(:title, 'Help') %>    
<h1>Help</h1>

    <p>
			Get Help from
 			<a href="www.organic-kahang.com/">Kahang Organic Website</a>
 			Also like us on
      <a href="www.facebook.com/OrganicKahang">Facebook</a>
 
    </p>
